<div class="container">
    <div class="p-5">
        <!-- <div class="card-title">
            <h3 class="text-center">List Of Books</h3>
        </div> -->
    <ul class="list-group">
        <li class="list-group-item">
            <h3 class="title">
               <b>Title</b> {{ book?.title }}
            </h3>
            <img (click)="imageClicked()" *ngIf="book?.imgURL" class="image" [src]="book?.imgURL">
            <p>
                {{ book?.description }}
            </p>
            <div class="meta-data">
                <div class="writer">
                   <b>Writer</b> {{ book?.writer}}
                </div>
                <div *ngIf="book?.price" class="book?.price">
                    {{ book?.price }}
                </div>
                <div class="genre" *ngIf="book?.genre">
                    <button class="btn btn-primary ml-1" *ngFor="let data of book?.genre">
                        #{{ data }}
                    </button>
                </div>
            </div>
        </li>        
      </ul>
</div>
</div>

