:host{
    border: 1px solid #03036b;
    display: block;
    margin: 16px auto;
    padding: 5px;
    width: 900px;
    text-align: center;
}
:host.first-book{
    border: 2px solid #000;
}
:host.notype{
    background-color: pink;
  }
:host.PositiveThinking{
    background-color: blue;
  }
:host.Mindset{
    background-color: green;
  }
:host.Biography{
    background-color: red;
  }
:host.Reality{
    border-color: orange;
    border-width: 3px;
  }
  :host.found {
    border-color: green;
    border-width: 5px;
  }
.image{
    width: 300px;
}
.genre{
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #286bb8;
    background-color:rgb(93, 99, 99);
    margin: 8px;
    padding: 8px;
}